html {
  font-size: 100%;
}

body {
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}
a,
a:visited,
a:active {
  text-decoration: none;
}

:root {
  --main-color: #4d5ae5;
  --white-color: #ffffff;
  --text-color: #2e2f42;
  --text-color-two: #434455;
  --background-color: #f4f4fd;
  --hover-focus-one: #404bbf;
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
  .address {
    display: none;
  }
  .header__burger-button {
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
  }
  .header__burger-svg {
    stroke: black;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding: 1.5rem 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header__logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--main-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header__logo-span {
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .header__burger-button {
    display: none;
  }
  .header__menu-list {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
  .address__link {
    display: block;
  }
  .address__item:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  .header__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }
  .active-color {
    color: var(--hover-focus-one);
  }
  .address__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--text-color-two);
  }
  .actual-link {
    padding: 24px 0;
  }
  .actual-link::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    background: var(--hover-focus-one);
  }
  .header__link {
    position: relative;
  }
}
@media screen and (min-width: 1440px) {
  .address__list {
    display: flex;
    gap: 2.5rem;
  }
  .address__list .address__item {
    margin-bottom: 0;
  }
  .header__container {
    justify-content: space-evenly;
  }
  .address__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.container {
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
/* @media screen and (max-width: 768px) {
  .mobile-menu__close-svg {
    fill: var(--hover-focus-one);
  }
  .mobile-menu__close-btn:hover > .mobile-menu__close-svg {
    fill: var(--white-color);
  }
  .mobile-menu__close-btn:focus > .mobile-menu__close-svg {
    fill: var(--white-color);
  }

  .mobile-menu__close-btn:hover,
  .mobile-menu__close-btn:focus {
    border-color: var(--hover-focus-one);
    background-color: var(--hover-focus-one);
  }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--white-color);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 2.5rem;
    padding-top: 5rem;
  }
  .mobile-menu__close-btn {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 1.5rem;
    right: 1.5rem;
    border-color: transparent;
    border: 1px solid #e7e9fc;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__link {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(----text-color);
  }
  .color {
    color: var(--hover-focus-one);
  }
  .mobile-menu__phone-link {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
  }
  .mobile-menu__phone-item {
    margin-bottom: 2.5rem;
  }
  .mobile-menu__email-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(----text-color-two);
  }
  .mobile-menu__list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: auto;
  }
  .mobile-menu__contacts-list {
    margin-bottom: 3rem;
  }
} */
@media screen and (max-width: 768px) {
  .mobile-menu.is-open {
    pointer-events: initial;
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
    transform: translateX(0);
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 40px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu__close-btn {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: auto;
    margin-bottom: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 24px;
    right: 24px;
  }
  .mobile-menu__close-svg {
    fill: var(--text-color);
  }
  .mobile-menu__close-svg {
    fill: var(--hover-focus-one);
  }
  .mobile-menu__close-btn:hover > .mobile-menu__close-svg {
    fill: var(--white-color);
  }
  .mobile-menu__close-btn:focus > .mobile-menu__close-svg {
    fill: var(--white-color);
  }
  .mobile-menu__close-btn:hover,
  .mobile-menu__close-btn:focus {
    border-color: var(--hover-focus-one);
    background-color: var(--hover-focus-one);
  }
  .mobile-menu__list {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.12;
    letter-spacing: 0.02em;
    fill: var(--text-color);
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mobile-menu__address {
    margin-top: auto;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: 0.02em;
  }
  .mobile-menu__link {
    color: var(--text-color-two);
  }
  .mobile-menu__phone-link {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
  }
  .mobile-menu__email-link {
    display: block;
    font-size: 1.25rem;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color-two);
  }
  .mobile-menu__email-item {
    margin-top: 40px;
  }
  .mobile-menu .social__list {
    justify-content: space-between;
    gap: 0;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    margin-right: 2.5rem;
  }
  .mobile-menu__item .color {
    color: var(--hover-focus-one);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
body.modal-open {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .social__list {
    gap: 3.5rem;
  }
}
.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 40px;
  height: 40px;
}

.social__link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item:hover > .social__link {
  background-color: var(--hover-focus-one);
}

.social__svg {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .social__list {
    gap: 1.5rem;
  }
}
section.hero {
  background-color: var(--title-text-color);
}

.hero {
  padding-top: 7rem;
  padding-bottom: 7rem;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.5rem;
  max-width: 320px;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white-color);
  text-align: center;
}

.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-mobile.jpg);
}

.hero__btn {
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--main-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.hero__btn:hover {
  background-color: var(--hover-focus-one);
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-tablet.jpg);
  }
  .hero__title {
    font-size: 3.5rem;
    max-width: 496px;
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-desktop.jpg);
  }
}
@media screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-desktop@2x.jpg);
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    margin-bottom: 3rem;
  }
}
.backdrop {
  top: 0;
  left: 0;
  position: fixed;
  z-index: inherit;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  height: 584px;
  background-color: #fcfcfc;
  padding: 70px 24px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}
.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin-bottom: 0.25rem;
  display: block;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.modal__comment {
  margin-bottom: 1rem;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus,
.modal__textarea:focus {
  border-color: var(--main-color);
  outline: none;
}

.modal__input-svg-wrapper {
  position: relative;
  display: block;
}

.modal__input-svg {
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  fill: var(--text-color);
  top: 50%;
  left: 19px;
  transform: translate(0, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
  width: 100%;
  height: 7.5rem;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
}

.modal__input:focus + .modal__input-svg {
  fill: var(--main-color);
}

.modal__label.modal__label-span {
  display: block;
  margin-bottom: 0.25rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.modal__close-btn {
  background-color: #e7e9fc;
  border-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea::-moz-placeholder {
  color: #abacb3;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.modal__textarea::placeholder {
  color: #abacb3;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.modal .modal__close-btn:hover,
.modal .modal__close-btn:focus {
  border-color: var(--hover-focus-one);
  background-color: var(--hover-focus-one);
}

.modal__close-svg {
  fill: var(--text-color);
}

.modal__close-btn:focus > .modal__close-svg {
  fill: var(--white-color);
}

.modal__close-btn:hover > .modal__close-svg {
  fill: var(--white-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* --------checkbox------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal__checkbox-icon-box {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox-icon-svg {
  opacity: 0;
  fill: var(--hover-focus-one);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox-input:checked + .modal__checkbox-icon-box {
  border: transparent;
  background-color: var(--hover-focus-one);
}

.modal__checkbox-input + .modal__checkbox-icon-box > .modal__checkbox-icon-svg {
  opacity: 1;
}

.modal__link {
  text-decoration-line: underline;
  color: var(--main-color);
}

.modal__send-button {
  display: block;
  min-width: 10.5625rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--main-color);
  color: var(--white-color);
  border: none;
}

.modal__checkbox-label {
  display: flex;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 1.5rem;
}

.modal__title {
  display: block;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--text-color);
  text-align: center;
}

.section-padding {
  padding: 6rem 0;
}

.advantages__icon {
  display: none;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.advantages__title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  text-align: center;
}

.advantages__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color-two);
}

@media screen and (min-width: 768px) {
  .advantages__list {
    flex-direction: row;
    gap: 24px;
  }
  .portfolio__categories-list {
    justify-content: center;
  }
  .advantages__title {
    text-align: start;
  }
}
@media screen and (min-width: 1440px) {
  .advantages__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
  }
  .flex {
    flex-direction: row;
    gap: 24px;
  }
  .advantages__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--background-color);
    border-radius: 4px;
    margin-bottom: 8px;
  }
}
.what-are-we {
  display: none;
}

@media screen and (min-width: 1440px) {
  .what-are-we {
    display: block;
    padding-bottom: 120px;
  }
  .what-are-we__list {
    display: flex;
    gap: 24px;
  }
}
.what-are-we__title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-color);
}

.what-are-we__item {
  width: calc((100% - 48px) / 3);
}

.team {
  background-color: var(--background-color);
}

.team__title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-color);
  margin-bottom: 4.5rem;
}

.team__worker-name {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.team__worker-specialization {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color-two);
  margin-bottom: 0.5rem;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}

.social__list.social__list-type-two {
  gap: 1.5rem;
}

.team__wrapper {
  border-radius: 0px 0px 4px 4px;
  padding: 2rem 0;
  background: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.customers__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 4.5rem;
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
  align-items: center;
}

.customers__item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers__link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__svg {
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover {
  border-color: var(--hover-focus-one);
}
.customers__link:focus {
  border-color: var(--hover-focus-one);
}

.customers__link:hover > .customers__svg {
  fill: #404bbf;
}

.customers__link:focus > .customers__svg {
  fill: #404bbf;
}

@media screen and (min-width: 768px) {
  .customers__list {
    gap: 72px 24px;
  }
  .customers__item {
    width: calc((100% - 48px) / 3);
  }
  .container.customers__container {
    padding: 0 6.75rem;
  }
}
@media screen and (min-width: 1440px) {
  .customers__item {
    width: calc((100% - 120px) / 6);
  }
  .container.customers__container {
    padding: 0 9.75rem;
  }
}
.footer {
  background-color: var(--text-color);
  padding: 100px 0;
}

.footer__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.footer__link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 16px;
  display: block;
  text-align: center;
}

.footer__logo-span {
  color: var(--background-color);
}

.footer__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
  max-width: 264px;
}

.social__list.social__list-type-three {
  gap: 1rem;
}

.footer__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
  text-align: center;
}

.footer__input {
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: var(--text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 16px;
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::-moz-placeholder {
  color: white;
}

.footer-input::placeholder {
  color: white;
}

.footer__subscribe-btn {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--main-color);
  color: white;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
}

.social__list-type-three > .social__item:hover > .social__link {
  background-color: #31d0aa;
}

.footer__wrapper-two {
  width: 100%;
}

.footer__wrapper-three {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer__container {
    text-align: start;
  }
  .footer__wrapper-two {
    margin: 0;
    width: auto;
  }
  .footer__wrapper-three {
    width: auto;
    margin-left: -40px;
  }
  .footer__form {
    display: flex;
    gap: 24px;
  }
  .footer__title {
    text-align: start;
  }
  .footer__link-logo {
    text-align: start;
  }
  .footer__subscribe-btn {
    min-width: 165px;
    height: 40px;
  }
  .footer__input {
    width: 264px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__container {
    flex-wrap: nowrap;
    gap: 0;
  }
  .footer__wrapper-two {
    margin-left: 120px;
  }
  .footer__wrapper-three {
    margin-left: 80px;
  }
}
.portfolio__category-btn {
  font-weight: 500;
  font-size: 1rem;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  background-color: #f4f4fd;
  color: var(--main-color);
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.5;
}
.portfolio__category-btn:hover {
  background-color: var(--hover-focus-one);
  color: white;
}
.portfolio__category-btn:focus {
  background-color: var(--hover-focus-one);
  color: white;
}

.portfolio__categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 48px;
}

.portfolio {
  padding-top: 3rem;
}

.portfolio__gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio__card-item {
  width: calc((100% - 48px) / 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overlay {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio__overlay-p {
  color: var(--background-color);
  font-size: 14px;
  letter-spacing: 0.02em;
}

.portfolio__overlay-p-container {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link {
  display: block;
}
.portfolio__link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio__link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio__overlay:hover .portfolio__overlay-p-container {
  transform: translate(0, 0);
}

.portfolio__card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio__card-description {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 8px;
}

.portfolio__card-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color-two);
}

.portfolio {
  padding: 48px 0;
}

@media screen and (min-width: 768px) {
  .portfolio__card-item {
    width: calc((100% - 48px) / 2);
  }
  .portfolio {
    padding: 4rem 0;
  }
  .portfolio__categories-list {
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 1440px) {
  .portfolio__card-item {
    width: calc((100% - 48px) / 3);
  }
  .portfolio {
    padding: 6.25rem 0;
  }
  .portfolio__categories-list {
    margin-bottom: 6.25rem;
  }
}/*# sourceMappingURL=styles.css.map */