.customers__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 4.5rem;
}
.customers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
  align-items: center;
}
.customers__item {
  width: calc((100% - 1 * 16px) / 2);
  height: 88px;
}
.customers__link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__svg {
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link {
  &:hover {
    border-color: var(--hover-focus-one);
  }
  &:focus {
    border-color: var(--hover-focus-one);
  }
}
.customers__link:hover > .customers__svg {
  fill: #404bbf;
}
.customers__link:focus > .customers__svg {
  fill: #404bbf;
}

@media screen and (min-width: 768px) {
  .customers__list {
    gap: 72px 24px;
  }
  .customers__item {
    width: calc((100% - 2 * 24px) / 3);
  }
}
@media screen and (min-width: 1440px) {
  .customers__item {
    width: calc((100% - 5 * 24px) / 6);
  }
}
