@media screen and (max-width: 767px) {
  .social__list {
    gap: 3.5rem;
  }
}
.social__list {
  display: flex;
  justify-content: center;
}
.social__item {
  width: 40px;
  height: 40px;
}
.social__link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__item:hover > .social__link {
  background-color: var(--hover-focus-one);
}
.social__svg {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .social__list {
    gap: 1.5rem;
  }
}
